 
[submodule "lowcode-platforms/avue-form-design"]
	path = lowcode-platforms/avue-form-design
	url = git@github.com:sscfaith/avue-form-design.git
[submodule "mini-vue/mini-vue"]
	path = mini-vue/mini-vue
	url = git@github.com:cuixiaorui/mini-vue.git
[submodule "mini-vue/guide-mini-vue"]
	path = mini-vue/guide-mini-vue
	url = git@github.com:cuixiaorui/guide-mini-vue.git
[submodule "codesandbox-playground/codesandbox-client"]
	path = codesandbox-playground/codesandbox-client
	url = git@github.com:Zian502/codesandbox-client.git
[submodule "ng-learn/ngx-admin"]
	path = ng-learn/ngx-admin
	url = git@github.com:akveo/ngx-admin.git
[submodule "antv-projects/G6"]
	path = antv-projects/G6
	url = git@github.com:antvis/G6.git
[submodule "antv-projects/X6"]
	path = antv-projects/X6
	url = git@github.com:antvis/X6.git
[submodule "imilate-vue-playground/vue2-mini"]
	path = imilate-vue-playground/vue2-mini
	url = git@github.com:DesBisous/vue2-mini.git
[submodule "antv-projects/G"]
	path = antv-projects/G
	url = git@github.com:antvis/G.git
[submodule "fe-source/source-tour"]
	path = fe-source/source-tour
	url = git@github.com:course-dasheng/source-tour.git
[submodule "gin-vue-admins/form-generator"]
	path = gin-vue-admins/form-generator
	url = git@github.com:flipped-aurora/form-generator.git
[submodule "gin-vue-admins/gvaWebsite"]
	path = gin-vue-admins/gvaWebsite
	url = git@github.com:flipped-aurora/gvaWebsite.git
[submodule "gin-vue-admins/gin-vue-admin.com"]
	path = gin-vue-admins/gin-vue-admin.com
	url = git@github.com:flipped-aurora/gin-vue-admin.com.git
[submodule "react-playground/react-beautiful-dnd"]
	path = react-playground/react-beautiful-dnd
	url = git@github.com:atlassian/react-beautiful-dnd.git
[submodule "sa-projects/pet-borad"]
	path = sa-projects/pet-borad
	url = git@gitee.com:zhai-duyi/pet-borad.git
[submodule "imilate-vue-playground/repl"]
	path = imilate-vue-playground/repl
	url = git@github.com:vuejs/repl.git
[submodule "ioc-playground/ioc-container"]
	path = ioc-playground/ioc-container
	url = git@github.com:fengshi123/ioc-container.git
[submodule "graphql-use/dota_demo"]
	path = graphql-use/dota_demo
	url = git@gitee.com:wpsw/dota_demo.git
[submodule "fe-test/vue3-dida"]
	path = fe-test/vue3-dida
	url = git@github.com:cuixiaorui/vue3-dida.git
[submodule "ant-design/X6"]
	path = ant-design/X6
	url = git@github.com:antvis/X6.git
[submodule "ant-design/G"]
	path = ant-design/G
	url = git@github.com:antvis/G.git
[submodule "ant-design/G2"]
	path = ant-design/G2
	url = git@github.com:antvis/G2.git
[submodule "fe-source/minipack"]
	path = fe-source/minipack
	url = git@github.com:ronami/minipack.git
[submodule "react-playground/jstraining"]
	path = react-playground/jstraining
	url = git@github.com:ruanyf/jstraining.git
[submodule "node-frameworks/fast-json-stringify"]
	path = node-frameworks/fast-json-stringify
	url = git@github.com:fastify/fast-json-stringify.git
[submodule "ant-design/ant-design"]
	path = ant-design/ant-design
	url = git@github.com:ant-design/ant-design.git
[submodule "fe-source/lodash"]
	path = fe-source/lodash
	url = git@github.com:lodash/lodash.git
[submodule "fe-source/core"]
	path = fe-source/core
	url = git@github.com:vuejs/core.git
[submodule "sa-projects/saasbook"]
	path = sa-projects/saasbook
	url = git@github.com:it2025/saasbook.git
[submodule "fe-source/verdaccio"]
	path = fe-source/verdaccio
	url = git@github.com:verdaccio/verdaccio.git
[submodule "fe-source/pm2"]
	path = fe-source/pm2
	url = git@github.com:Unitech/pm2.git
[submodule "fe-source/changesets"]
	path = fe-source/changesets
	url = git@github.com:changesets/changesets.git
[submodule "fe-engineering/pnpm-monorepo-learn"]
	path = fe-engineering/pnpm-monorepo-learn
	url = git@github.com:JohnnyZhangQiao/pnpm-monorepo-learn.git
[submodule "full-stack-playground/nextjs-components-docs"]
	path = full-stack-playground/nextjs-components-docs
	url = git@github.com:maqi1520/nextjs-components-docs.git
[submodule "sa-projects/lowcode-engine"]
	path = sa-projects/lowcode-engine
	url = git@github.com:alibaba/lowcode-engine.git
[submodule "full-stack-playground/express-openai-api"]
	path = full-stack-playground/express-openai-api
	url = git@github.com:cnAlexJiang/express-openai-api.git
[submodule "sa-projects/react-low-code/vitis-lowcode-engine"]
	path = sa-projects/react-low-code/vitis-lowcode-engine
	url = git@github.com:react-low-code/vitis-lowcode-engine.git
[submodule "sa-projects/react-low-code/vitis-server"]
	path = sa-projects/react-low-code/vitis-server
	url = git@github.com:react-low-code/vitis-server.git
[submodule "openai-playground/Learning-By-GPT"]
	path = openai-playground/Learning-By-GPT
	url = git@github.com:lxfater/Learning-By-GPT.git
[submodule "ant-design/G6"]
	path = ant-design/G6
	url = https://github.com/antvis/G6.git
[submodule "fe-engineering/yarn-lerna-workplace"]
	path = fe-engineering/yarn-lerna-workplace
	url = https://github.com/wzf1997/fly.git
[submodule "sa-projects/Luckysheet"]
	path = sa-projects/Luckysheet
	url = git@github.com:dream-num/Luckysheet.git
[submodule "fe-source/async-validator"]
	path = fe-source/async-validator
	url = https://github.com/yiminghe/async-validator.git
[submodule "fe-source/quark-design"]
	path = fe-source/quark-design
	url = git@github.com:hellof2e/quark-design.git
[submodule "sa-projects/canvas-sa/vue-fabric-editor"]
	path = sa-projects/canvas-sa/vue-fabric-editor
	url = git@github.com:cnAlexJiang/vue-fabric-editor.git
[submodule "sa-projects/chatgpt-webui/chatgpt-web"]
	path = sa-projects/chatgpt-webui/chatgpt-web
	url = git@github.com:Chanzhaoyu/chatgpt-web.git
[submodule "fe-source/mdn-office-demos/dom-examples"]
	path = fe-source/mdn-office-demos/dom-examples
	url = git@github.com:mdn/dom-examples.git
[submodule "sa-projects/vue3-sa/vite-templates"]
	path = sa-projects/vue3-sa/vite-templates
	url = git@github.com:jeddygong/vite-templates.git
[submodule "sa-projects/vue3-sa/v3-admin-vite"]
	path = sa-projects/vue3-sa/v3-admin-vite
	url = git@github.com:un-pany/v3-admin-vite.git
