 
[submodule "lowcode-platforms/avue-form-design"]
	path = lowcode-platforms/avue-form-design
	url = git@github.com:sscfaith/avue-form-design.git
[submodule "mini-vue/mini-vue"]
	path = mini-vue/mini-vue
	url = git@github.com:cuixiaorui/mini-vue.git
[submodule "mini-vue/guide-mini-vue"]
	path = mini-vue/guide-mini-vue
	url = git@github.com:cuixiaorui/guide-mini-vue.git
[submodule "codesandbox-playground/codesandbox-client"]
	path = codesandbox-playground/codesandbox-client
	url = git@github.com:Zian502/codesandbox-client.git
[submodule "ng-learn/ngx-admin"]
	path = ng-learn/ngx-admin
	url = git@github.com:akveo/ngx-admin.git
[submodule "antv-projects/G6"]
	path = antv-projects/G6
	url = git@github.com:antvis/G6.git
[submodule "antv-projects/X6"]
	path = antv-projects/X6
	url = git@github.com:antvis/X6.git
 
[submodule "antv-projects/G"]
	path = antv-projects/G
	url = git@github.com:antvis/G.git
[submodule "fe-source/source-tour"]
	path = fe-source/source-tour
	url = git@github.com:course-dasheng/source-tour.git
[submodule "gin-vue-admins/form-generator"]
	path = gin-vue-admins/form-generator
	url = git@github.com:flipped-aurora/form-generator.git
[submodule "gin-vue-admins/gvaWebsite"]
	path = gin-vue-admins/gvaWebsite
	url = git@github.com:flipped-aurora/gvaWebsite.git
[submodule "gin-vue-admins/gin-vue-admin.com"]
	path = gin-vue-admins/gin-vue-admin.com
	url = git@github.com:flipped-aurora/gin-vue-admin.com.git
[submodule "react-playground/react-beautiful-dnd"]
	path = react-playground/react-beautiful-dnd
	url = git@github.com:atlassian/react-beautiful-dnd.git
[submodule "sa-projects/pet-borad"]
	path = sa-projects/pet-borad
	url = git@gitee.com:zhai-duyi/pet-borad.git
[submodule "imilate-vue-playground/repl"]
	path = imilate-vue-playground/repl
	url = git@github.com:vuejs/repl.git
